* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* ===== Global ===== */
a,
button,
label{
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 500;
}

img {
  width: 1.2rem;
  height: 1.2rem;
}

a,
button {
  cursor: pointer;
}

.background-img {
  background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  filter: blur(3px);
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadows {
  background-color: rgb(0, 0, 0, 0.6);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.5), 0 0 1em rgba(0, 0, 0, 0.5);
}

.pipe {
  width: 1px;
  height: 2rem;

  background-color: white;
}

/* ===== Principal Page ===== */
.principal .principal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgb(0, 0, 0, 0.6);
}

.principal-anchors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 70%;

  border-radius: 3px;
}

.principal .principal-buttons .principal-anchors a {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 10.5rem;
  padding: .6rem;
  margin: .5rem 0;

  font-size: .8rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;

  transform: scale(1);

  transition: all ease .3s;
}

.principal .principal-buttons .principal-anchors a:hover {
  transform: scale(1.1);

  background-color: rgba(255, 255, 255, 0.1);
}

/* ===== Header ===== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 4rem;
  padding: 0 1rem;

  position: fixed;
  z-index: 10;

  background-color: black;
}

header a {
  text-decoration: none;
}

header a h1 {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-weight: 400;
}

header a h1 strong {
  color: #ffdc00;
}

header .header-buttons {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

header .header-buttons a {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 11rem;
  padding: .5rem;

  font-size: .8rem;
  color: white;

  transform: scale(1);

  transition: all ease .3s;
}

header .header-buttons a:hover {
  transform: scale(1.1);
}

/* ===== Register Page ===== */
.songForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgb(0, 0, 0, 0.6);
}

.songForm form h1 {
  margin-bottom: 2rem;

  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0 0 1rem black;
  color: white;
}

.songForm form .form-group input {
  width: 75vw;
  height: 2rem;
  padding: 1rem;
  margin: .3rem 0 1rem 0;

  color: black;

  border: 1px solid black;
  border-radius: .35rem;
}

.songForm form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 75vw;
}

.songForm form .row input {
  width: 60vw;
}

.songForm form .row #div_id_spotify_published,
.songForm form .row #div_id_youtube_published {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.songForm form .row #div_id_spotify_published input,
.songForm form .row #div_id_youtube_published input {
  width: 3rem;
}

.songForm form .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: 75vw;
}

.songForm form .buttons select {
  width: 120%;
  padding: .5rem;
  margin-top: .3rem;

  color: black;
  text-align: center;

  border-radius: .4rem;
  border: 1px solid black;
  background-color: white;
}

.songForm form .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60%;
  padding: .5rem;

  transform: scale(1);

  border: 1px solid black;
  border-radius: .4rem;
  background-color: rgb(50, 200, 50);

  transition: all ease .3s;
}

.songForm form .buttons button p {
  width: 100%;

  text-align: center;
  color: black;
}

.songForm form .buttons button img {
  float: right;
}

.songForm form .buttons button:hover {
  background-color: rgb(0, 200, 0);

  transform: scale(1.01);
}

.asteriskField {
  color: red;
}


/* ===== List Page ===== */
.songList table {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: rgb(0, 0, 0, 0.6);
}

.songList table tbody {
  display: flex;
  justify-content: space-evenly;

  width: 80%;
}

.songList table .m-t {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 8rem;

  color: white;
  background-color: black;
}

.songList table .m-t>td {
  border-right: 1px solid white;
}

.songList table .m-t td+td {
  border-right: 1px solid white;
}

.songList table .m-t td+td:last-child {
  border-right: 0px;
}

.songList table .m-t a {
  width: 100%;

  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;

  transform: scale(1);
  transition: all ease .2s;
}

.songList table .m-t a:hover {
  transform: scale(.9);
}

.songList table .d-t td {
  background-color: #eeeeee;
}

.songList table tbody {
  display: flex;
  flex-direction: column;
}

.songList table tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  background-color: rgb(0, 0, 0, 0.6);
  border-bottom: 1px solid white;
}

.songList table tbody tr:last-child {
  border: 0;
}

.songList table tbody td {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: .5rem 0 .5rem 0;

  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  text-align: center;
}

.songList table tbody .songs td {
  background-color: rgba(221, 221, 221, 0.5);
  color: white;
}

.songList table tbody .songs form,
.songList table tbody .songs form input,
.songList table tbody .songs form button,
.songList table tbody .songs form button img {
  background-color: transparent;
  border: 0;
}

.songList table tbody .songs .buttons img {
  transform: scale(0.9);

  transition: all ease .2s;
}

.songList table tbody .songs .buttons img:hover {
  transform: scale(1);
}

.songList table tbody td:first-child {
  border-right: 1px solid white;
}

.songList table tbody td+td {
  border-right: 1px solid white;
  padding: .5rem;
}

.songList table tbody td+td:last-child {
  border-right: 0px;
}

.songList table tbody tr .buttons {
  display: flex;
  justify-content: space-evenly;
}



@media(max-width: 780px) {
  * {
    font-size: 94%;
  }

  .pipe {
    width: 55%;
    height: 1px;
    background-color: white;
  }

  img {
    width: .8rem;
    height: .8rem;
  }

  /* ===== Header ===== */
  header h1 {
    font-size: 1.4rem;
  }

  header a {
    font-size: .6rem;
  }

  header a img {
    width: .7rem;
    margin-left: -.9rem;
  }

  /* ===== Principal Page ===== */
  .principal .principal-buttons a {
    font-size: .6rem;
  }

  .principal-anchors {
    flex-direction: column;
  }

  /* ===== Register Page ===== */
  .songForm form .row input {
    width: 40vw;
  }

  .songForm form .buttons button {
    height: 2rem;
    width: 50%;
  }

  .songForm form .buttons select {
    width: 90%;
  }

  .songForm form h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  /* ===== List Page ===== */


  .songList table tbody td {
    font-size: 85%;
  }
}

@media(max-width: 410px) {
  header .header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: auto;
  }

  .pipe {
    width: 55%;
    height: 1px;
    background-color: white;
  }

  .songList table tbody td {
    font-size: 75%;
  }

}