{% extends 'Song/index.html' %}
{% load static %}


{% block content %}
<div class="principal">
  <header>
    <a href="/"><h1>Music<strong>Oni</strong></h1></a>
  </header>

  <div class="background-img"></div>

  <div class="principal-buttons">
    <div class="principal-anchors shadows">
      <a class="seeList" href="{% url 'song_list' %}">Lista de músicas<span><img src="{% static 'icons/list.svg' %}" /></span></a>
      <div class="pipe"></div>
      <a class="seeList" href="{% url 'song_insert'%}">Registrar música<span><img src="{% static 'icons/register.svg' %}" /></span></a>
      <div class="pipe"></div>
      <a class="seeList" href="/admin">Acessar o admin<span><img src="{% static 'icons/admin.svg' %}" /></span></a>
    </div>
  </div>
</div>
{% endblock content %}