{% extends 'Song/index.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="songForm">
  <header>
    <a href="/"><h1>Music<strong>Oni</strong></h1></a>
    <div class="header-buttons">
      <a href="{% url 'song_list' %}">Ver lista de músicas<span><img src="{% static 'icons/list.svg' %}" /></span></a>
      <div class="pipe"></div>
      <a href="/admin">Acessar o admin<span><img src="{% static 'icons/admin.svg' %}" /></span></a>
    </div>
  </header>

  <div class="background-img"></div>

  <form action="" method="post" autocomplete="off">
    <h1>Registre uma nova música</h1>
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    <div class="row">
      <div>
        {{ form.duration|as_crispy_field }}
      </div>
      <div>
        {{ form.spotify_published|as_crispy_field }}
      </div>
      <div>
        {{ form.youtube_published|as_crispy_field }}
      </div>
    </div>
    <div class="buttons">
      {{ form.artist|as_crispy_field }}
      <button type="submit"><p> Enviar </p><span><img src="{% static 'icons/send.svg' %}" /></span></button>
    </div>
    
  </form>
</div>
{% endblock content %}